# A03
## Antonio Orteg칩n Mu침oz
## 22/08/2024

## Ejercicio1

calcula la Utilidad (Ingreso - Gasto
 a침o

In [76]:
import pandas as pd
import numpy as np
datos=pd.read_excel("datosCT.xlsx")
datos["Utilidad"]=datos["Ingreso"]-datos["Gasto"]
datos

    Unnamed: 0  Ingreso  Gasto  Utilidad
0        Enero     1340   1880      -540
1      Febrero     2590   3130      -540
2        Marzo     3570   2140      1430
3        Abril     4450   3370      1080
4         Mayo     1330   2990     -1660
5        Junio     1610   1970      -360
6        Julio     1500   2230      -730
7       Agosto     2270   1240      1030
8   Septiembre     1910   1470       440
9      Octubre     2120   2280      -160
10   Noviembre     3950   1870      2080
11   Diciembre     1380   3140     -1760

encuentra el promedio de Gastos en los meses que la Utilidad fue negativa

In [60]:
datos_utilidad_negativa=datos[datos["Utilidad"]<0]
np.mean(datos_utilidad_negativa["Gasto"])

2517.1428571428573

encuentra los ingresos totales del a침o

In [67]:
np.sum(datos["Ingreso"])

28020

## Ejercicio 2

![](Ejercicio2A03.png)

In [16]:
import numpy as np
A=np.array([
    [1,2],
    [3,4]])
b=np.array([
    [2],
    [4]])
producto=A@b
print(producto)

[[10]
 [22]]